.header{
    border-bottom: 3px solid white;
}
ul{
    gap: 30px;
    display: flex;
    list-style: none;
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  
}
li{
    transition: 0.5s ease-in;
    border-radius: 12%;
    opacity: 0.5;
    cursor: pointer;
    list-style: none;
    color: black;
}
li:hover{
    background-color: white;
    color: black;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}