body{
    color: aliceblue;
}
.Card-1{
    display: flex;
        height: 350px;
        width: 280px;
        border:2px solid white;
        flex-direction: column;
        align-items: center;
        font-weight: 600;    
        justify-content: center;
        margin-left: 55px;
        transition: 0.8s ease-in-out;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Card-1:hover{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(212, 212, 212, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
